.buttonRow {
    flex-wrap: wrap;
    justify-content: space-between;
  }

.recipeButton {
    justify-content: space-around;
}

.recipeContainer {
    display: flex;
    flex-direction: row;
}

.ingredientCards {
    width: 60%;
}