.buttonRow {
    flex-wrap: wrap;
    justify-content: space-between;
  }

.recipeButton {
    justify-content: space-around;
}

.recipeContainer {
    display: flex;
    flex-direction: row;
}

.ingredientCards {
    width: 60%;
}

h6 {
    color: aliceblue;
    text-shadow: -1px 1px 4px #000,
        1px 1px 4px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.recipeCard {
    background-color: slategray;
    margin: 10px;
}

.container {
    margin: 10px;
}