.ingredientCard {
    margin: 5px;
    justify-content: space-between;
}

.myPantryContainer {
    display: flex;
    flex-direction: row;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    border: 2px black;
}

.cardText{
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    color: wheat;
    text-shadow: -1px 1px 4px #000,
        1px 1px 4px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

h2 {
    color: aliceblue;
    text-shadow: -1px 1px 4px #000,
        1px 1px 4px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

h3 {
    color: wheat;
    text-shadow: -1px 1px 4px #000,
        1px 1px 4px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

h6 {
    color: aliceblue;
    text-shadow: -1px 1px 4px #000,
        1px 1px 4px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.pantry {
    margin: 10px;
}